[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/battos/Desktop/Berserk Manga]
row=2
col=0

[/home/battos/Desktop/Blasphemous.desktop]
row=4
col=0

[/home/battos/Desktop/YouTubeDownloadWebsite]
row=5
col=0

[/home/battos/Desktop/Yuppie Psycho.desktop]
row=6
col=0

[/home/battos/Desktop/steam.desktop]
row=3
col=0

[Trash]
row=0
col=0

[/home/battos]
row=1
col=0

