[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/battos/Desktop/net.lutris.osu-5.desktop]
row=0
col=2

[/home/battos/Desktop/steam.desktop]
row=3
col=0

[/home/battos/Desktop/CPP]
row=0
col=1

[/home/battos/Desktop/gpgdeneme]
row=2
col=2

[/home/battos/Desktop/Python]
row=6
col=0

[/home/battos/Desktop/Kenshi.desktop]
row=1
col=1

[/home/battos/Desktop/PythonPasswordGenerator]
row=6
col=1

[/home/battos/Desktop/Go]
row=2
col=1

[/home/battos/Desktop/django-simple-blog-app]
row=4
col=2

[/home/battos/Desktop/Yuppie Psycho.desktop]
row=0
col=3

[/home/battos/Desktop/GoURLShrotener]
row=8
col=1

[/home/battos/Desktop/ReadPy]
row=7
col=0

[/home/battos/Desktop/YouTubeDownloadWebsite]
row=5
col=0

[/home/battos/Desktop/unbreakable hearth S.mkv]
row=1
col=2

[/home/battos/Desktop/Blasphemous.desktop]
row=4
col=0

[/home/battos/Desktop/versusmarket]
row=3
col=2

[/home/battos/Desktop/LiShogi.desktop]
row=3
col=1

[/home/battos/Desktop/Berserk Manga]
row=2
col=0

[Trash]
row=0
col=0

[/home/battos]
row=1
col=0

